.header {
  display: flex;
  justify-content: space-between;
  margin: 35px 50px 20px;
}
header {
  border-bottom: solid 1.5px #F7F7F8;
}
.anchors {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 40px;
  align-items: baseline;
}
.anchor {
  margin: 0 12px;
  color: lightgray;
}
.canvas-blue{
  width: 150px;
  margin-left: 2rem;
}
.header-button {
  background-color: white;
  border: none;
  color: lightgray;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Avenir';
  font-size: 14px;
}
#about-us {
  color: #6D9DB9;
}
#contact-us-button {
  margin-left: 0;
}
#contact-us {
  background-color:#294464;
  border-radius: 5px;
  height: 37px;
  width: 98px;
  color: white;
}
#contact-us:hover {
  background-color: white;
  color: black;
}
.image {
  display: flex;
  justify-content: center;
}
.background1 {
  background-image: url(../images/about-us/about-us-header.jpg);
  background-position: center;
  background-size: cover;
  margin: 6rem 5rem 3rem;
  height: 400px;
  width: 50rem;
  position: relative;
  filter: opacity(95%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.15);
}
.top-text {
  width: 52%;
  color: white;
  position: absolute;
  left: 3.3rem;
  top: 6rem;
}
h1 {
  font-size: 28px;
  font-family:'Tiempos Headline',sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 15px;
}
p {
  line-height: 1.6;
  font-size: 12px;
  font-family: "Avenir",sans-serif;
  font-style: normal;
  font-weight: 500;
}
#believe {
  color: #707070;
  text-align: center;
  margin-top: 0;
}
.believe-small-text {
  width: 28rem;
  margin: auto;
  color: #707070;
}
.blue {
  color:#6D9DB9;
  font-weight: 700;
}
.row2 {
  background-color: #FBFBFB;
  padding: 2rem 0;
  margin: 4rem 30px 0;
}
h3 {
  font-family:'Tiempos Headline',sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0 -3px;
  color: #707070;
}
.our-team {
  text-align: center;
  margin: 1rem 0 1.5rem;
}
.team {
  display: flex;
  flex-wrap: wrap;
  width: 48rem;
  margin: auto;
}
.member-img {
  width: 9rem;
  border-radius: 50%;
}
.member {
  flex-basis: calc(100%/3);
  text-align: center;
  margin: 7px 0;
}
.member-text {
  text-align: center;
  color: #707070;
}
#jessica {
 padding: 0 1rem;
}
.row3 {
  background-color: #FBFBFB;
  margin: 0 30px;
  padding: 1rem 0 3rem;
}
h2 {
  color: #707070;
  font-family:'Tiempos Headline',sans-serif;
  font-weight: 500;
}
.board {
  text-align: center;
  font-size: 25px;
  margin-bottom: 7px;
}
.clinicians {
  display: flex;
  justify-content: space-evenly;
}
.clinician-name {
  margin: 2rem 0;
  text-align: center;
}
.row4 {
  width: 28rem;
  margin: 3rem auto 4rem;
}
.our-story {
  text-align: center;
}
footer {
  border-top: solid 1.5px #F7F7F8;
}
.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 67px 0 20px;
}
#question {
  margin-top: -3rem;
}
#small {
  margin-top: -7px;
  color: #707070;
}
#get-started {
  background-color:#294464;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  position: relative;
  bottom: 23px;
}
.box2 {
  background-color: #525351;
  padding:49px 0 50px;
  margin: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
}
#left-column {
  position: relative;
  top: 0.5rem;
  left: 1rem;
}
#right-column {
  display: flex;
}
.company {
  margin: 0 7rem;
}
.product {
  margin-right: 5rem;
}
.info {
  color: white;
  margin-top: 2.5rem;
  font-size: 13px;
}
.footer-button {
  background-color: #525351;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
}
h4 {
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
#info {
  margin: 1px;
}
.canvas-white {
  width: 130px;
}
.box3 {
  background-color: #FAFAFA;
  padding: 45px 0;
  margin: 0 30px;
}
.column4 {
  margin-left: 3rem;
}
.footer-button2 {
  background-color: #FAFAFA;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: black;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
