.header {
  display: flex;
  justify-content: space-between;
  margin: 35px 50px 20px;
}
header {
  border-bottom: solid 1.5px #F7F7F8;
}
.anchors {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 40px;
  align-items: baseline;
}
.anchor {
  margin: 0 1rem;
  color: lightgray;
}
.canvas-blue{
  width: 150px;
  margin-left: 2rem;
}
.header-button {
  background-color: white;
  border: none;
  color: lightgray;
  cursor: pointer;
  text-decoration: none;
}
#blog {
  color: #6D9DB9;
}
#contact-us {
  background-color:#294464;
  border-radius: 5px;
  height: 37px;
  width: 98px;
  color: white;
}
#contact-us:hover {
  background-color: white;
  color: black;
}
.main-text {
  text-align: center;
  margin: 6rem 0 0;
}
h2 {
  font-family:'Tiempos Headline',sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #707070;
}
p {
  font-family: "Avenir",sans-serif;
  font-size: 12px;
  color: #707070;
}
form {
  text-align: center;
}
.email-text {
  border: none;
  text-align: center;
  width: 25rem;
  height: 4rem;
  outline: none;
  border-bottom: solid 2px #DCDCDC;
  padding-top: 24px;
}
input::placeholder {
  font-family: "Avenir",sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #DCDCDC;
}
.subscribe-button {
  background-color: #294464;
  border-radius: 4px;
  color: white;
  width: 144px;
  height: 44px;
  border: none;
  outline: none;
  font-family: 'Avenir';
  font-size: 16px;
  margin: 45px 0;
}
.subscribe-button:hover {
  background-color: white;
  color: #294464;
  cursor: pointer;
}
.images {
  padding-bottom: 3rem;
  border-bottom: solid 1.5px #F7F7F8;
}
.row {
  display: flex;
  margin: 0 7rem 30px;
  justify-content: center;
}
.container {
  margin: 0 auto;
}
.all-imgs {
  width: 21rem;
  height: 12rem;
  overflow: hidden;
}
.img {
  max-width: 100%;
  position: relative;
  bottom: 20px;
}
.text {
  width: 17rem;
}
.img-text {
  color: #315773;
  font-size: 22px;
  line-height: 1.1;
  margin: 10px 0rem;
}
#fix {
  width: 20rem;
}
.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 20px 0;
}
#question {
  margin-top: -3rem;
}
#small {
  margin-top: -15px;
  color: #707070;
  line-height: 1.6;
}
#get-started {
  background-color:#294464;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.box2 {
  background-color: #525351;
  padding:49px 0 50px;
  margin: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
}
#left-column {
  position: relative;
  top: 0.5rem;
  left: 1rem;
}
#right-column {
  display: flex;
}
.company {
  margin: 0 7rem;
}
.product {
  margin-right: 5rem;
}
.info {
  color: white;
  margin-top: 2.5rem;
  font-size: 13px;
}
.footer-button {
  background-color: #525351;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
}
h4 {
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
#info {
  margin: 1px;
  color: white;
  line-height: 1.6;
}
.canvas-white {
  width: 130px;
}
.box3 {
  background-color: #FAFAFA;
  padding: 45px 0;
  margin: 0 30px;
}
.column4 {
  margin-left: 3rem;
}
.footer-button2 {
  background-color: #FAFAFA;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: black;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.ready-question {
  padding: 3rem 0 0.5rem;
  font-size: 1.5rem;
}
