header {
  border-bottom: solid 1.5px #F7F7F8;
}
section.header {
  display: flex;
  margin: 35px 50px 20px;
}
.anchors {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 40px;
  align-items: baseline;
}
.anchor {
  margin: 0 12px;
  color: lightgray;
}
.canvas-blue{
  width: 150px;
  margin-left: 2rem;
}
.header-button {
  background-color: white;
  border: none;
  color: lightgray;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Avenir';
  font-size: 14px;
}
#contact-us-button {
  margin-left: 0;
}
#contact-us {
  background-color:#294464;
  border-radius: 5px;
  height: 37px;
  width: 98px;
  color: white;
}
.box1 {
  display: flex;
  justify-content: center;
}
.background1 {
  width: 50rem;
  height: 387px;
  background-image: url(./images/hero.jpg);
  background-size: cover;
  margin: 3rem 5rem;
  background-position: center;
  position: relative;
  filter: opacity(95%);
}
.overlay {
  background: rgba(0,0,0,0.15);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text {
  width: 24rem;
  position: absolute;
  color: white;
  position: absolute;
  left: 3.3rem;
  top: 1.5rem;
}
h1 {
  font-size: 30px;
  font-family:'Tiempos Headline',sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}
p {
  line-height: 1.6;
  font-family: "Avenir",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #707070;
}
#top-small-text {
  margin-bottom: 1.2rem;
  color: white;
}
#get-started {
  background-color:#294464;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.box2 {
  background-color:#FAFAFA;
  margin: 0 30px;
  height: 25rem;
}
.row1 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}
.row2 {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
h3 {
  font-family: "Avenir",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin: 2rem;
  color: #707070;
}
h2 {
  font-family:'Tiempos Headline',sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
  color: #707070;
}
#middle-small-text {
  width: 23rem;
  margin: 10px auto
}
.box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 20px 0;
}
.box4 {
  background-color: #525351;
  padding:50px 0;
  margin: 0 30px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: relative;
}
#left-column {
  position: relative;
  top: 0.5rem;
  left: 1rem;
}
#right-column {
  display: flex;
}
.company {
  margin: 0 7rem;
}
.product {
  margin-right: 5rem;
}
.info {
  color: white;
  margin-top: 2.5rem;
}
.footer-button {
  background-color: #525351;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
}
h4 {
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
#info {
  margin: 1px;
  color: white;
}
.canvas-white {
  width: 130px;
}
.box5 {
  background-color: #FAFAFA;
  padding: 45px 0;
  margin: 0 30px;
}
.column4 {
  margin-left: 3rem;
}
.footer-button2 {
  background-color: #FAFAFA;
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #707070;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
#contact-us:hover {
  background-color: white;
  color: black;
}
